# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# JetBrains Idea
.idea

# .vscode
.vscode/

# d02
d02/ex00/ft_print_alphabet
d02/ex01/ft_print_reverse_alphabet
d02/ex02/ft_print_numbers
d02/ex03/ft_is_negative
d02/ex04/ft_print_comb
d02/ex05/ft_print_comb2
d02/ex06/ft_putnbr
d02/ex07/ft_print_combn
